body{
    margin: 0;
    font-family: tahoma;
    color: rgb(0, 0, 0);
    background-color: rgb(220, 208, 240);
    /*background-image: url("gettyimage.jpg");*/
    background-image: linear-gradient(to bottom right, rgb(207, 131, 192), rgb(115, 54, 173)  );

}

h1, h2{
    margin: 0;
    color: #333;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(115, 62, 238);
}

h2{
    font-size: 18px;
}

.left{
    float: left;
}

.right{
    float: right;
}

#total{
    width: 96%;
    max-width: 1000px;
    margin: auto;
}

#topo{
    text-align: center;
}

#menu{
    background-color: rgb(70, 39, 99);
    height: 40px;
    margin-bottom: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#menu a{
   color: #fff;
    text-decoration: none;
    margin: 0 35px;
    line-height: 40px;

}

#menu a:hover{
    text-decoration: underline;
}

#logo{
    margin: 30px 0;
}

#banner{
    padding-bottom: 30px;
}

#banner img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.7;
}

.texto1{
    width: 60%;
}

.texto2{
   width: 35%; 
}

.texto2 p{
    font-style: italic;
    color: #999;
}

#rodape{
    clear: both;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    font-size: 16px;
    padding: 30px 0;
    color: rgb(84, 48, 112);
    text-shadow: 2px 2px 5px rgb(115, 62, 238);
}

#anuncio{
    width: 100%;
    background-color: #ff8900;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    margin-bottom: 30px;
    text-align: center;
    display: none;
}

@media screen and (min-width: 640px) and (max-width:820px)  /* tablet*/
{ #menu a{
    font-size: 14px;
    margin: 0 25px;
} 
    #anuncio{
        display: block; /* faz o anuncio do ebook voltar*/
    }
}

@media screen and (max-width: 640px)     /*texto em baixo no outro*/{ 
    #menu {
    height: auto;
  
}
#menu a {
    display: block;
    border-bottom: solid 1px #ccc;
    text-align: center;
    font-size: 16px;
}
}
