body{  
    margin: 0px;
    font-family: Tahoma;
}
#total{
    width: 1000px;
    height: auto;
    margin: 0 auto /* centralizar a div total*/
}

#topo {
    height: 75px;
    margin: 30px ;
}
#logo {
float: left;
}
#menu {
float: right;
margin-top: 30px;
}

#menu a {
    color: #670001;
    text-decoration: none;
    margin-left: 50px;
}

#menu a:hover {
    text-decoration: underline;
    
}
#banner {
    height: 400px;
    width: 1000px;
}

.colunas{
    width: 220px;
    float:left;
    margin: 30px 0;
    margin-right: 40px;
    font-size: 15px;
}
#col4{
    margin: 0;
    margin-top: 20px;
    font-size: 15px;
    margin-right: 0%;
}

.colunas h2 {
    color: #670001;
    margin: 0;
    font-size: 20px;
}
.colunas p{
    color: #333;
}
.colunas a{
    color: #670001;
}
#rodape {
    clear: both;  /* limpar o float*/
    text-align: center;
    color: #666;
    margin-bottom: 30px;

}